name: Build and Push FastAPI

on:
  push:
    branches: [main, dev]
    tags: ['v*']
    # Professional touch: Only trigger if files in the api or shared packages change
    paths:
      - 'apps/api/**'
      - 'packages/**'
      - '.github/workflows/deploy-api.yml'

jobs:
  build-api:
    # Syntax: {owner}/{repo}/.github/workflows/{filename}@{ref}
    uses: davie-karanja/workflows/.github/workflows/docker-build-push.yml@main
    with:
      image_name: "everything-api"
      # We set context to root ('.') so Docker can see 'packages/' if needed
      build_context: "./apps/backend"
      # We point specifically to the Dockerfile inside the api folder
      dockerfile_path: "./Dockerfile"
    secrets: inherit