name: Build and Push FastAPI

on:
  push:
    branches: [master, dev]
    tags: ['v*']
    paths:
      - 'apps/backend/**'
      - 'packages/**'
      - '.github/workflows/build_and_push.yml'

jobs:
  build-api:
    uses: daviekaranja/workflows/.github/workflows/docker-build-push.yml@master
    with:
      image_name: "everything-api"
      # IMPORTANT: Set context to root ('.') so Docker can access 'packages/'
      build_context: "."
      # Point to the specific Dockerfile relative to the context (root)
      dockerfile_path: "./apps/backend/Dockerfile"
    secrets: inherit
